# Ігнорування файлів налаштувань середовища розробки
.vscode/

# Логи та тимчасові файли
*.log
tmp/
*.tmp

# Ігнорування node_modules та інших залежностей
node_modules/

# Ігнорування файлів системи
.DS_Store
Thumbs.db
